extends header
block content
    .container
        .row
            .col.flex.justify-content-center
                span.notfound    404
        .row
            .col.flex.justify-content-center
                span.notfound-text It looks like you're lost...
        .row.mg-top-2
            .col.flex.justify-content-center
                button.btn.btn-gotohome.material-shadow-1 GO TO HOME