extends header
block content
    .container
        .row.mg-top-4
            .col.flex.justify-content-center
                .container-form.material-card.material-shadow-1
                    form.form-login.pd-1(action="/cms/auth", method="post")
                        .container
                            .row
                                .col.flex.justify-content-center
                                    i.fas.fa-code-branch.branch
                            .row.mg-top-0_5
                                .col.flex.justify-content-center
                                    h5.login Login
                            .row.mg-top-2
                                .col.d-block
                                    label Username
                                    input.pd-0_5.form-control(type="text", name="username")
                            .row
                                .col.d-block
                                    label Password
                                    input.pd-0_5.form-control(type="password", name="password")
                            .row.mg-top-1
                                .col.d-block
                                    button.btn(type="submit") Login
                            .row.mg-top-0_5
                                .col.flex.justify-content-start
                                    a(href="/cms/recovery") Lost password?
                                .col.flex.justify-content-end
                                    a(href="/cms/sign-up") Sign up
                            .row.mg-top-2
                                .col.flex.justify-content-center
                                    span Copyrigth &copy; 2018 - All rights reserved
                            .row
                                .col.flex.justify-content-center
                                    span Powered with&nbsp;
                                        i.fas.fa-heart.heart
                                        | &nbsp;by UnderNode LLC 